@import "./variables.scss";

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $indigo;
    color: $white;
    height: 100px;
    @media (min-width:$tablet) {
        height: 140px;
        justify-content: space-evenly;
    }
    @media (min-width:$desktop) {
        height: 200px;
        justify-content: space-evenly;
    }

    &__logo{
        background: linear-gradient(to bottom, rgba(175, 203, 255, 0.7), rgba(175, 203, 255, 0.1)), url(https://images.unsplash.com/photo-1496167117681-944f702be1f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2689&q=80) no-repeat center center;;
        background-size: cover;
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    
        @media(min-width: $tablet){
            height: 5rem;
            width: 5rem;
        }
        @media(min-width: $laptop){
            height: 7rem;
            width:7rem;
        }
        @media(min-width: $desktop){
            height: 10rem;
            width:10rem;
        }

        &__text{
            color: $indigo;
            font-size: 2.5rem;
            text-shadow: 1px 1px 2px $darkv;

            @media (min-width:$tablet) {
                font-size: 3rem;
            }
            @media(min-width: $laptop){
                font-size: 4rem;
            }
            @media(min-width: $desktop){
                font-size: 5rem;
            }
        }
    }

    &__links{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: column;

        @media (min-width:$tablet) {
            flex-flow: row;
        }

        &--top, &--bottom{
            display: flex;
            align-items: center;
            padding: 0.5rem 0;
        }

        &__tab{
            padding: 0 0.1rem;

            &--hidden{
                visibility: hidden;
                @media (min-width:$tablet){
                    visibility: visible;
                }
            }

            @media (min-width:$tablet) {
                padding: 0 1rem;
            }

            :hover{
                text-decoration: $white;
                font-weight: bolder;
            }
        }


    }


}

